.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: relative;
  margin: 0px 20px;
}

.prevBtn,
.nextBtn {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: larger;
}

.sliderImage{
  width: 400px;
  height: 400px;
}